@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

@*As boring as is humanly possible, but functional.  Add more styling later, maybe some images.*@

<p>This Daylily Database is a course project for Code Louisville.</p>
<p>It is a functioning ASP.NET MVC site that implements basic CRUD functionality.</p> 
<p>It's basic, but it works!!</p>
