@{
    ViewBag.Title = "Home Page";
}

@*Using inline styling as quick edit.  This could be included in custom style-sheet later.  Time issues!!  It's just so pretty it astounds and damages the senses.*@


<div class="jumbotron" style="text-align: center;background-color:#ffe9fa" >
    <h1>Daylily Database</h1>
</div>

<div class="row" style="background-color: #ffe9fa;text-align:center">
    <div class="col-md-12">
        <h2>Welcome to the Daylily Database</h2>
        <p>
            Here, you can view, add, edit, and delete daylilies from this database.
        </p>

        @*This ActionLink requires: linkText, actionName, controllerName, routeValues, htmlAttributes*@
        @*Inline styling here needs to be refactored. Quick styling fix.  Issues with bootstrap overriding.*@

        <button style="outline:1px; border-color:#000 ; margin-bottom:5px; background-color: white; border-radius: 5px; color:#eee">@Html.ActionLink("View Daylilies", "Index", "Daylily", "Daylily", new { @class = "btn btn-sm", style = "color:black" })</button>
    </div>
</div>